<!-- Header -->
<!--<script src="../js/aux-proof-gen.js"></script>-->
<script src="../js/aux-proof-gen.js"></script>
<script src="../js/bundle.js"></script>
<script src="../js/ropstenBundle.js"></script>

<header>
    <div class="container">
        <div class="row">
            <div class="upform">
                <form>
                    <div class="upform-header"></div>
                    <div class="upform-main">
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    Alright. Let's walk you through the Mina state proof in-EVM verification process.
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q1" class="toggle toggle-left" name="q1" value="yes" type="radio">
                                <label for="toggle-on-q1" class="btn btn-walkthrough"><span>Y</span> Okay.</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="label">First of all, we need Mina's state proof and it's verification key.<br>
                                When Chainsafe finish their <a href="https://github.com/ChainSafe/mina-rs">
                                    Mina protocol implementation</a>,
                                <br>
                                it will be possible to retrieve it automatically right in browser.
                                <br>
                                But for now we got the sample of it for you in here already.
                            </div>
                            <div class="input-control alert alert-danger">
                                <input type="text" class="required"
                                                   autocomplete="off"
                                                   value=""
                                                   id="mina-state-proof"
                                                   placeholder="JSON-formatted Mina state proof (protocolStateProof)">
                            </div>
                            <div class="input-control alert alert-danger">
                                <input type="text" class="required"
                                                   autocomplete="off"
                                                   value=""
                                                   id="mina-state-proof-vk"
                                                   placeholder="JSON-formatted Mina's state proof verification key (blockchainVerificationKey)">
                            </div>
                            <div class="input-control alert alert-danger">
                                <input type="text" class="required"
                                                   autocomplete="off"
                                                   value=""
                                                   id="mina-state-proof-const"
                                                   placeholder="JSON-formatted Mina's state proof verification key constants"
                                                   readonly>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q2" class="toggle toggle-left" name="q2" value="yes" type="radio">
                                <label for="toggle-on-q2" class="btn btn-walkthrough"><span>Y</span> Alright. Next.</label>
                                <!--<input id="toggle-off-q2" class="toggle toggle-right" name="q2" value="no" type="radio">
                                    <label for="toggle-off-q2" class="btn
                                    btn-walkthrough"><span>N</span> Wait, what am I
                                    doing in here?</label>-->
                                <br>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="label">Now, state proof needs to be
                                preprocessed. <br> Wait a minute, while auxiliary
                                proof generator wraps Kimchi proof verification
                                <br>
                                into auxiliary proof.
                                <br><br>
                                The waiting time depends on a particular machine's performance.
                                <br><br>
                                <div class="progress" id="aux-proof-gen-pb">
                                    <div class="progress-bar progress-bar-striped active"
                                         role="progressbar" aria-valuenow="100"
                                                            aria-valuemin="0" aria-valuemax="100"
                                                                              style="width: 100%">
                                    </div>
                                </div>                                
                                <div id="data-blob-input" class="input-control">
                                    <input type="text" class="required"
                                                       autocomplete="off"
                                                       value=""
                                                       id="data-blob"
                                                       placeholder="Mina's state
                                                                          proof auxiliary proof"
                                                       readonly>
                                </div>
                                <br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q3" class="toggle toggle-left" name="q3" value="yes" type="radio">
                                <label for="toggle-on-q3" class="btn btn-walkthrough"><span>Y</span> Ready. Next step.</label>
                                <input id="toggle-off-q3" class="toggle toggle-right" name="q3" value="no" type="radio">
                                <label for="toggle-off-q3" class="btn btn-walkthrough"><span>N</span> I gotta change the state proof.</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    Now it is time to submit the preprocessed
                                    proof to 
                                    <a href="https://ropsten.etherscan.io">Ethereum's Ropsten</a> or 
                                    <a href="https://mumbai.polygonscan.com">Polygon's Mumbai</a>.
                                    <br><br>
                                    Proof verification is going to cost about
                                    2.5m gas.
                                    <br><br>
                                    You can get some rETH with some of these
                                    faucets:<br>
                                    <a href="https://faucet.metamask.io/">https://faucet.metamask.io/</a><br>
                                    <a href="https://faucet.egorfine.com/">https://faucet.egorfine.com/</a>
                                    <br><br>
                                    Polygon's Mumbai test MATIC tokens can be
                                    received from Polygon Technology's faucet:
                                    <a href="https://faucet.polygon.technology/">https://faucet.polygon.technology/</a>
                                </span>
                                <br>
                                <br>
                            </div>
                            <br>
                            <div id="mtmsk-btn" class="btn btn-lg btn-primary"> Connect Metamask. </div>
                            <br><br>
                            <div class="input-control">
                                <input id="toggle-on-q4" class="toggle
                                                                      toggle-left" name="q4" value="yes" type="radio">
                                <label for="toggle-on-q4" class="btn
                                                                    btn-walkthrough"><span>Y</span> Okay.</label>
                                <input id="toggle-off-q4" class="toggle
                                                                       toggle-right" name="q4" value="no" type="radio">
                                <label for="toggle-off-q4" class="btn           btn-walkthrough"><span>N</span>
                                    I want to re-generate the proof</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    Alright, let's see the result.
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control alert alert-info">
                                <div id="res-tx" class="skills">
                                    <a id="res-tx-link" href="#"></a>
                                </div>
                            </div>
                            <div class="intro-text">
                                <span class="skills">
                                    So, what does that mean?
                                    <br><br>
                                    We've just verified a part of Mina's state proof on
                                    Ethereum's Ropsten or Polygon's Mumbai
                                    (depending on what you've picked).
                                    <br>
                                    It means that a part of Mina's state is now known to be valid on Ethereum's Ropsten or Polygon's Mumbai.
                                    We still don't have the actual Mina's data on EVM, but now we can verify it's validity.
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q5" class="toggle
                                                                      toggle-left"
                                                         name="q5" value="yes" type="radio">
                                <label for="toggle-on-q5" class="btn
                                                                    btn-walkthrough"><span>Y</span>
                                                                    So what?</label>
                                <input id="toggle-off-q5" class="toggle
                                                                       toggle-right"
                                                          name="q5" value="no" type="radio">
                                <label for="toggle-off-q5" class="btn           btn-walkthrough"><span>N</span>
                                    I want to verify a different proof</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    That means every time someone tries to put some 
                                    Mina's actual state data on EVM, we can:
                                    <br><br>
                                    1. Request a Mina's state Merkle tree
                                    Poseidon hash.<br><br>
                                    2. Verify the Kimchi state proof using it as a
                                    public assignment.<br><br>
                                    3. If the verification was successful, put
                                    the data through the Ouroboros's chain selection 
                                    rule to make sure replication packet was
                                    finalized on Mina's side.<br><br>
                                    4. If all those checks passed, we can use this new Mina's
                                    state data on EVM side as plaintext one - to
                                    request some account's balance for example.
                                </span>
                                <br><br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q6" 
                                       class="toggle toggle-left"
                                       name="q6" value="yes" type="radio">
                                <label for="toggle-on-q6" 
                                       class="btn btn-walkthrough">
                                    <span>Y</span> Cool! When?</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    What there is left regarding this:<br><br>
                                    1. Finalize the in-EVM verification part.<br><br>
                                    2. Work with the auditors.<br><br>
                                    3. Implement the in-EVM Ouroboros chain
                                    selection rule so Mina's plaintext data could be
                                    put on EVM.
                                    <br><br>
                                    Meanwhile, stay tuned on <a href="https://twitter.com/nil_foundation">Twitter</a>
                                    and keep track of progress in
                                    <a href="https://github.com/nilfoundation/evm-mina-verification">Github
                                        repository</a>.
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
