<!-- Header -->
<script src="../js/aux-proof-gen.js"></script>
<script src="../js/bundleFast.js"></script>

<header>
    <div class="container">
        <div class="row">
            <div class="upform">
                <form>
                    <div class="upform-header"></div>
                    <div class="upform-main">
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    Alright. Let's walk you through the Mina state proof in-EVM verification process.
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q1" class="toggle toggle-left" name="q1" value="yes" type="radio">
                                <label for="toggle-on-q1" class="btn
                                                                    btn-walkthrough"><span>Y</span> Okay.</label>
                                <input id="toggle-off-q1" class="toggle toggle-right" name="q1" value="no" type="radio">
                                <label for="toggle-off-q1" class="btn
                                                                     btn-walkthrough"><span>N</span> No, I'm scared.</label>
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="label">First of all, we need Mina's
                                state proof and it's verification key.<br>
                                When Chainsafe finish their <a href="https://github.com/ChainSafe/mina-rs">
                                    Mina protocol implementation</a>,<br>
                                it will be
                                possible to retrieve it automatically right in browser.
                                <br>
                                But for now we got the sample of it for you
                                in here already.</div>
                            <div class="input-control">
                                <input type="text" class="required"
                                       autocomplete="off"
                                       value = ""
                                       id = "mina-state-proof-base64"
                                       placeholder="JSON-formatted Mina state proof (protocolStateProof)">
                                <script>
                                    fetch ("https://raw.githubusercontent.com/NilFoundation/evm-mina-verification/master/share/mina/proof_9b0369c27bb85c8ab2f8725c6e977eb27b53b826.json")
                                        .then(result => result.json())
                                        .then(data => document.getElementById("mina-state-proof-base64").value = JSON.stringify(data))
                                </script>
                            </div>
                            <div class="input-control">
                                <input type="text" class="required"
                                       autocomplete="off"
                                       value = ""
                                       id = "mina-state-proof"
                                       placeholder="JSON-formatted Mina's state proof verification key (blockchainVerificationKey)">
                                <script>
                                    fetch ("https://raw.githubusercontent.com/NilFoundation/evm-mina-verification/master/share/mina/vk_9b0369c27bb85c8ab2f8725c6e977eb27b53b826.json")
                                        .then(result => result.json())
                                        .then(data => {
                                            document.getElementById("mina-state-proof").value = JSON.stringify(data);
                                            fetch ("https://raw.githubusercontent.com/NilFoundation/evm-mina-verification/master/bin/aux-proof-gen/src/data/kimchi_const.json")
                                                .then(result => result.json())
                                                .then(data => {
                                                    document.getElementById("mina-json-correctness").value = 'Correct!';
                                                    try {
                                                        if (document.getElementById('data-blob').value === '0') {
                                                            t0 = myBundle.ccall('parsing_json', // name of C function
                                                                "string", // return type
                                                                ["string", "string"], // argument types
                                                                [document.getElementById("mina-state-proof").value, data] // arguments
                                                            );
                                                            document.getElementById("mina-json-correctness").value = 'Correct!';
                                                        }
                                                    } catch (e) {
                                                        document.getElementById("mina-json-correctness").value = 'Not correct!'
                                                    }
                                                })
                                        })
                                </script>
                            </div>
                            <div class="input-control">
                                <input type="text" class="required"
                                       autocomplete="off"
                                       value = ""
                                       id = "mina-json-correctness"
                                       placeholder="json-correctness">
                            </div>
                            <script>
                                Module['onRuntimeInitialized'] = () => {
                                    document.getElementById('data-blob').value = 0;
                                    document.getElementById('data-blob-input').style.display = 'none';
                                }
                            </script>
                            <div class="input-control">
                                <input id="toggle-on-q2" class="toggle toggle-left" name="q2" value="yes" type="radio" onclick="
                                        // console.log(document.getElementById('data-blob').value);
                                        if (document.getElementById('data-blob').value === '0') {
                                            let t = ccall('proof_gen', // name of C function
                                                    'string', // return type
                                                    null, // argument types
                                                    null // arguments
                                                );
                                            t = t.slice(0, -1);

                                            document.getElementById('data-blob').value = t;
                                            document.getElementById('ticker').style.display = 'none';
                                            document.getElementById('data-blob-input').style.display = 'block';
                                        }
                                    ">
                                <label for="toggle-on-q2" class="btn
                                                                    btn-walkthrough"><span>Y</span> Alright.
                                                                    Next.</label>
                                <input id="toggle-off-q2" class="toggle toggle-right" name="q2" value="no" type="radio">
                                <label for="toggle-off-q2" class="btn
                                                                     btn-walkthrough"><span>N</span> Wait, what
                                                                     am I doing in here?</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="label">Now, state proof needs to be
                                preprocessed. <br> Wait a minute, while auxiliary
                                proof generator goes
                                <div id="ticker" class="tickerwrapper">
                                    <ul class='list'>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                    </ul>
                                </div>
                                <div id="data-blob-input" class="input-control">
                                    <input type="text" class="required"
                                           autocomplete="off"
                                           value = ""
                                           id = "data-blob"
                                           placeholder="JSON-formatted Mina's state proof verification key (blockchainVerificationKey)">

                                </div>
                                <br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q3" class="toggle toggle-left" name="q3" value="yes" type="radio">
                                <label for="toggle-on-q3" class="btn
                                                                    btn-walkthrough"><span>Y</span> Ready. Next step.</label>
                                <input id="toggle-off-q3" class="toggle toggle-right" name="q3" value="no" type="radio" onclick="document.location.reload()">
                                <label for="toggle-off-q3" class="btn
                                                                     btn-walkthrough"><span>N</span> Calculate that again.</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    Now it is time to submit the preprocessed
                                    proof to EVM for the verification to be performed.
                                    Get your Ethereum Ropsten or Polygon Mumbai account ready. <br>
                                    Proof verification is going to cost about
                                    2.5m gas.
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control">
                                <input type="text" class="required"
                                       autocomplete="off"
                                       value = ""
                                       id = "passphrase"
                                       placeholder="passphrase">
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q4" class="toggle
                                                                 toggle-left" name="q4" value="yes" type="radio"  onclick='myBundle.verifyPlaceholderUnifiedAddition(document.getElementById("data-blob").value, document.getElementById("passphrase").value).then(res => {document.getElementById("proof-result").value = "Result verify: " + res.verify; document.getElementById("proof-result-gas").value = " Gas value: " + res.gasUsed})'>
                                <label for="toggle-on-q4" class="btn
                                                                    btn-walkthrough"><span>Y</span> Okay.</label>
                                <input id="toggle-off-q4" class="toggle
                                                                  toggle-right" name="q4" value="no" type="radio">
                                <label for="toggle-off-q4" class="btn
                                                                     btn-walkthrough"><span>N</span> No, fuck you.</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    Verification results.
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control">
                                <input type="text" class="required"
                                       autocomplete="off"
                                       value = ""
                                       id = "proof-result">
                            </div>
                            <div class="input-control">
                                <input type="text" class="required"
                                       autocomplete="off"
                                       value = ""
                                       id = "proof-result-gas">
                            </div>
                            <div class="intro-text">
                                <span class="skills">
                                    Keep track of progress in
                                    <a href="https://github.com/nilfoundation/evm-mina-verification">Github repository</a>
                                    and on <a href="https://twitter.com/nil_foundation">Twitter</a>
                                </span>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
